@import '../../styles/colors.scss';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: $primaryDark;
    h1 {
        color: $white;
        margin-top: 16px;
    }
}